html, body {
    background-color: #edeef0;
    height: 100%;
    max-height: 100%;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.navbar {
    margin-bottom: -20px;
}

.product-item {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: relative;
    height: 100%;
    margin: 10px 0 0 0;
    padding: 5px;
    text-align: center;
}

.section-top {
    margin-top: -30px;
    margin-left: 5px;
    margin-right: 5px;
}

.add-to-cart-btn {
    /*position: relative;*/
    /*bottom: 5px;*/
    /*margin-top: 10px;*/
    horiz-align: center;
    vertical-align: bottom;
}

.image {
    /*max-width: 100%;*/
    overflow: hidden;
    object-fit: contain;
    horiz-align: center;
    vertical-align: top;
}

.image img {
    max-height: 300px;
    /*max-width: 100%;*/
}

.short_description {
    height: 100px;
    max-height: 200px;
}

.footer {
    position: relative;
    margin-top: -180px;
    clear: both;
    height: 200px;
    background-color: white;
}

div.section {
    margin-bottom: 10px;
    margin-top: 10px;
}

.col-lg-3 {
    margin-bottom: 10px;
}

.discount {
    position: absolute;
    top: 40%;
    background: green;
    width: 30%;
    left: 0;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.prod_name_description {
    margin-top: 5px;
    background-color: lightgray;
}

.section-delivery {
    height: 300px;
    background-color: deepskyblue;
    text-align: center;
}

.wrapper-content {
    overflow: auto;
    padding-bottom: 180px;
}

.product-desc-tabs {
    padding: 10px;
}

.delivery-btn {
    background-color: white;
    margin-left: 5px;
}



.navbar-main {
    min-height: 50px;
    height: 55px;
}

.nav-bar-top {
    min-height: 10px;
    height: 20px;
    border: none;
    background-color: green;
}

.cart {
    color: white;
}

.cart:hover{
    color: white;
    text-decoration: none;
}

.basket {
    position: relative;
    top: 0px;
    width: 250px;
}

.basket-items {
    position: absolute;
    top: 20px;
    right: 0;
    width:250px;
    background-color: #4d5661;
    z-index: 10;
    padding: 10px;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.delete-item  {
    color: white;
}

.delete-item:hover{
    color: white;
    text-decoration: none;
}

.navbar-top{
    min-height: 50px;
    height: 50px;
    background-color: green;
    border: none;
    border-radius: 0;
}


/*!* For Firefox *!*/
/*.personal_data input[type='number'] {*/
    /*-moz-appearance:textfield;*/
/*}*/

/*!* Webkit browsers like Safari and Chrome *!*/
/*.personal_data input[type=number]::-webkit-inner-spin-button,*/
/*.personal_data input[type=number]::-webkit-outer-spin-button {*/
    /*-webkit-appearance: none;*/
    /*margin: 0;*/
/*}*/

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;}


.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    border-radius: 0;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 600px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 600px;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 600px;
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.mySlides {display:none;}